h1{ 
 color: white;
  }
p{
 color: grey;
 background: white
  }
body{
 background: grey;
  }
h2{
 color: white;
  }
  a{
  	color: black;
  }
  img{
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
  }