h1{ 
 color: white;
  }
p{
 color: grey;
 background: white
  }
body{
 background: grey;
 border: 50px solid black;
 padding: 30px;
  }
h2{
 color: white;
  }
  a{
  	color: black;
  }
  img{
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
  }
  footer{
  	color: white;
  }